*{
    margin: 0;
    padding: 0;
}
.shape{
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: 0 auto;
    margin-top: 150px;
    transform: rotate(45deg);
    transition-duration: 8s;
    transition-delay: background-color 4s;
}
.shape:hover{
    background-color: red;
    width: 250px;
    height: 250px;
   
}